<!DOCTYPE html>
{% load humanize %}
{% load static %}
<html lang="es">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Login | Foro</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  <link href="/static/css/styles.css/" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
  <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="login">
    {# Cargamos la librería #}
    {% load bootstrap4 %}
    <h1>Iniciar sesión</h1>
    <form class="form" method="post" action="{% url 'index' %}" enctype="multipart/form-data">
      {# Pasamos el 'csrf_token' de seguridad para poder crear un nuevo registro #}
      {% csrf_token %}

      <!-- {{ form.as_p }} -->
      <p>
      <div class="input-contenedor-1" class="wrap-input100 validate-input" data-validate="Enter username">
        <input class="edit-input" class="input100" type="text" name="username" placeholder="Nombre usuario">
        <span class="focus-input100" data-placeholder="&#xe82a;"></span>
      </div>
      </p>
      <p>
      <div class="input-contenedor-1" class="wrap-input100 validate-input" data-validate="Enter password">
        <input class="edit-input" class="input100" type="password" name="password" placeholder="Contraseña">
        <span class="focus-input100" data-placeholder="&#xe80f;"></span>
      </div>
      </p>
      <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
    </form>
  </div>
</body>

</html>