   <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Perfil | Coffeeinfoapp</title>
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link href="/static/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    </head>       
    <body>     
        <div class="contenedor">
            <header>
                <div class="container__menu">
                    <nav>
                        <ul>
                            <li>
                                <div class="header__superior">
                                    <div class="logo">
                                        <img src="https://static.wikia.nocookie.net/paradisebay/images/e/e9/Coffee.png/revision/latest?cb=20180814102721&path-prefix=es"
                                            alt="">
                                    </div>
                                </div>
                            </li>
                            <li><a href="{% url 'index' %}">inicio</a></li>
                            <li><a href="#">Informacion del café</a>
                                <ul>
                                    <li><a href="#">Variedades</a></li>
                                    <li><a href="#">Enfermedades</a></li>
                                    <li><a href="#">Insecticidas</a></li>
                                    <li><a href="#">Plagas</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Contactanos</a></li>
                            <li><a href="{% url 'modulo1:leerfr' %}">Foro</a></li>
                            <li><a href="{% url 'modulo1:leercf' %}">Categorias</a></li>
                            <li><a href="#">Nosotros</a></li>
                            <li><a href="{% url 'modulo1:leerpef' %}">Perfil</a></li>
                            <li><a href="{% url 'login' %}">Iniciar sesión</a></li>
                            <li><a href="register.html">Registrate</a></li>
                            <li>
                                <div class="search">
                                    <input type="search" placeholder="¿Que deseas buscar?">
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div> 
                <div class="elementor-widget-container">
                    <div class="elementor-image"> 
                    <a href="informacioncafe.html"> 
                    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Ftodocafe.es%2Fplanta-de-cafe&psig=AOvVaw1r1_O9SgXMm5CKBnxDQAfD&ust=1675907147010000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCJDFy-HmhP0CFQAAAAAdAAAAABAK" width="200" height="200"></a>
                    </div>
                </div>
                <div class="elementor-widget-container">
                    <div class="elementor-image"> 
                    <a href="variedades.html"> 
                    <img decoding="async" width="200" height="200" src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fes.123rf.com%2Fphoto_69562460_icono-de-insecticida-ilustraci%25C3%25B3n-de-dibujos-animados-de-vectores-icono-de-insecticida-para-la-web.html&psig=AOvVaw2it5mYro_Xi_pABckBneRq&ust=1675908072914000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCKjV95rqhP0CFQAAAAAdAAAAABAE" class="elementor-animation-grow attachment-full size-full wp-image-403" loading="lazy"(max-width: 200px) 100vw, 200px></a>
                    </div>
                </div>
            </header>
        </div>

    </body>