<!DOCTYPE html>
{% load humanize %}
{% load static %}
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Categorias | Foro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <link href="/static/css/styles.css/" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body class="cuerpo-foro">
    {# Cargamos la librería #}
    {% load bootstrap4 %}
    {% load static %}
    <header class="main-head">
        <nav class="main">
            <h1 id="logo">Hola</h1>
            <ul>
                <li><a href="#">Logout</a></li>
                <li><a href="{% url 'register_usuario' %}">Register</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
            </ul>
        </nav>
    </header>
    {% if messages %}
    {% for message in messages %}
    <div class="notification {{ message.tags}}">
      {{ message }}
    </div>
    {% endfor %}
  {% endif %}
  

    <!-------------------------------------
					Navigation Bar 
	-------------------------------------->
    <div class="main">

        <nav class="second-nav">
            <a class="feed" href="{% url 'index' %}">Inicio</a>
            <a class="profile" href="{% url 'modulo1:leerpef' %}">Mi Perfil</a>
            <a class="new" href="#">Crear nuevo post</a>
        </nav>


        {% for Categoriaforo in object_list %}
        <article>
            <div class="container-article">
                <div>
                    <i class="clock"></i>
                    <div class="post"><a href="{% url 'modulo1:leerfr' %}">{{Categoriaforo.nombre}}</div></a>
                    <div class="post">{{Categoriaforo.descripcion}}</div>

                </div>
            </div>
        </article>
        {% endfor %}
    </div>
    <footer>
        <div class="row">
            <p>Red Social con Django<br>hecha por: <a href="http://www.youtube.com/mundopython">Mundo Python</a></p>
        </div>
    </footer>

</body>

</html>