<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Registro | Foro</title>
  <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
  <link href="/static/css/styles.css/" rel="stylesheet" />
  <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
</head>
</body>
{# Cargamos la librería #}
{% load bootstrap4 %}
{# CSS Bootstrap #}
{% bootstrap_css %}

{# Widget Tweaks #}
{% load widget_tweaks %}
{% load static %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <div class="card">
        <h2 class="card-title text-center">Registrarse</h2>
        <div class="card-body py-md-4">
          <form class="form" method="post" action="" kenctype="multipart/form-data">
            {# Pasamos el 'csrf_token' de seguridad para poder crear un nuevo registro #}
            {% csrf_token %}

            <!-- {{ form.as_p }} -->
            <div class="form-group">
              <label for="idregistroforo" class="txt_negrita"></label>
              {{ form.idregistroforo|add_class:"form-control"}}
              <!-- Usamos la librería 'widget_tweaks' para crear esta caja de texto -->
            </div>

            <div class="form-group">
              <label for="nombre " class="descripcion">Nombre de usuario</label>
              {{ form.nombre|add_class:"form-control"  }}
              <!-- Usamos la librería 'widget_tweaks' para crear esta caja de texto -->
            </div>

            <div class="form-group">
              <label for="correo " class="descripcion">Correo Electrónico</label>
              {{ form.correo|add_class:"form-control" }}
              <!-- Usamos la librería 'widget_tweaks' para crear esta caja de texto -->
            </div>

            <p>
              <div class="input-contenedor-1" class="wrap-input100 validate-input" data-validate="Enter password">
                <!--<input class="edit-input" class="input100" type="password" name="password" placeholder="Contraseña">-->
                <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                  {{ form.password|add_class:"input100" }}
              </div>
            </p>

            <div class="form-group">
              <label for="foro_idforo" class="descripcion">Foro</label>
              {{ form.foro_idforo|add_class:"form-control" }}
              <!-- Usamos la librería 'widget_tweaks' para crear esta caja de texto -->
            </div>
  
            <div class="d-flex flex-row align-items-center justify-content-between">
              <a href="{% url 'modulo1:loginforo' %}">Iniciar sesión</a>
              <button type="submit" class="btn btn-primary">Registrase</button>
            <a href="{% url 'modulo1:leercf' %}" type="submit" class="btn btn-primary">Cancelar</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

</body>

</html>