<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>índice de Foros | Coffeeinfoapp</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link href="/static/css/styles.css/" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>


</head>

<body class="cuerpo-foro">
    {# Cargamos la librería #}
    {% load bootstrap4 %}
    {% load static %}

    {% if messages %}
    <ul class="messages list-group mb-3">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }} list-group-item list-group-item-primary" {% endif %}>{{
            message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="main-head">
        <nav class="main">
            <h1 id="logo">Hola</h1>
            <ul>
                <li><a href="#">Logout</a></li>
                <li><a href="#">Register</a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </nav>
    </div>
    <!-------------------------------------
					Messages 
	-------------------------------------->

    <!-------------------------------------
					Navigation Bar 
	-------------------------------------->
    <div class="main">

        <nav class="second-nav">
            <a class="feed" href="#">Inicio</a>
            <a class="profile" href="{% url 'modulo1:leerpef' %}">Mi Perfil</a>
            <a class="new" href="#">Crear nuevo post</a>
        </nav>


        {% for Foro in object_list %}
        <article>
            <div class="container-article">
                <div>
                    <i class="clock"></i>
                    <div class="post"><a href="{% url 'modulo1:leertefo' %}">{{Foro.nombre}}</div></a>
                </div>
            </div>
        </article>
        {% endfor %}
    </div>
    <footer>
        <div class="row">
            <p>Red Social con Django<br>hecha por: <a href="http://www.youtube.com/mundopython">Mundo Python</a></p>
        </div>
    </footer>

</body>

</html>